.about {
  display: flex;
  flex-direction: column;
  // align-items: center;
  // justify-content: center;
  gap: 80px;
  margin: -40px 170px;
  color: whitesmoke;
  padding-top: 10px;
  // width: 100%;
  // height: 100vh;
  // padding: 6rem $p;

  // .container {
  //   .row {
  //     display: flex;
  //     justify-content: space-between;
  //     flex-wrap: wrap;

  //     .first {
  //       flex-basis: 35%;
  //       > img {
  //         width: 80%;
  //         height: 430px;
  //         border: 2px solid $color5;
  //         border-radius: 14px;
  //         margin-left: 28px;
  //         margin-top: 8px;
  //       }
  //     }

  //     .second {
  //       flex-basis: 60%;
  //       // width: 50%;

  //       > h1 {
  //         font-size: 40px;
  //         font-weight: 600;
  //         color: black;
  //       }

  //       .titles {
  //         display: flex;
  //         // border: 2px solid black;
  //         margin: 20px 0 40px;
  //         // margin-top: 10px;

  //         > p {
  //           margin-right: 50px;
  //           font-size: 17px;
  //           cursor: pointer;
  //           position: relative;

  //           &::after {
  //             content: "";
  //             width: 15px;
  //             height: 3px;
  //             background-color: $color3;
  //             position: absolute;
  //             left: 0;
  //             bottom: -8px;
  //             transition: 0.4s;
  //           }
  //         }
  //       }
  //     }
  //   }
  // }
}

.about-title {
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  // position: relative;
  font-size: 30px;
  font-weight: 600;
  background: linear-gradient(270deg, $color3 10%, #b415ff 100%);
  background: linear-gradient(270deg, $color3 10%, #b415ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-achievements {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: center;
}

#myimg {
  width: 300px;
  height: 300px;
}

.about-sections {
  display: flex;
  gap: 80px;
}

.about-right {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.about-para {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 24ox;
  font-weight: 500;
}

.about-skills {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about-skill {
  display: flex;
  gap: 50px;
  align-items: center;
  transition: 0.3s;
}

.about-skill p {
  min-width: 150px;
  font-size: 24px;
  font-weight: 500;
}

.about-skill hr {
  outline: none;
  border: none;
  width: 50%;
  height: 8px;
  border-radius: 50px;
  background: linear-gradient(270deg, $color3 10%, #b415ff 100%);
}

.about-achievements {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 80px;
}

.about-achievement{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  transition: 0.5s;

}

.about-achievement h1{
  font-size: 50px;
  font-weight: 700;
  background: linear-gradient(270deg, $color3 10%, #b415ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

// .about-achievement p{
//   font-size: 22px;
//   font-weight: 500;
// }

.about-skill:hover{
  transform: scale(1.05);
  transition: 0.3s;
}

.about-achievement:hover{
  transform: scale(1.12);
  transition: 0.5s;
}